<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.DocLevelMapper">
	
	<sql id="select_query">
		SELECT * FROM t_dict_doc_level
	</sql>

	<select id="getAllDocLevel" resultType="DocLevel">
		<include refid="select_query"/>
	</select>
	
	<select id="getDocLevelById" parameterType="java.lang.Integer" resultType="DocLevel">
		<include refid="select_query"/>
		where id = #{id}
	</select>
	

	
	<resultMap type="DocLevel" id="DocLevelMap">
		<id column="DOC_LEVEL_ID" property="id"/>
		<result column="DOC_LEVEL_NAME" property="name"/>
	</resultMap>
</mapper>
